#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.upgrade {
  display: flex;
}

.title {
  font-size: 36px;
}

.info {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

img:hover {
  filter: drop-shadow(0 0 10px #ffc259);
  transition: filter 0.3s smooth ease-in-out;
}
img:active{
  scale: 1.1;
  filter: drop-shadow(0 0 30px #ffc259);
  transition: filter 0.5s smooth ease-in-out;
}